.table {
  margin: 10px auto;
}

.license {
  display: flex;
  justify-content: center;
  text-align: left;
  gap: 2px 15px;
  text-align: left;
  font-size: 20px;
  font-weight: 600;
  color: #5e5e5e;
  vertical-align: top;
}

.date {
  width: 110px;
}

.name {
  width: 450px;
}

@media (max-width: 768px) {
  .table {
    display: flex;
    flex-wrap: wrap;
    gap: 15px 0;
    margin: 0 15px;
  }

  .license {
    flex-flow: column;
    justify-content: flex-start;
  }

  .date {
    width: auto;
    font-size: 15px;
  }

  .name {
    width: auto;
  }
}
