.period {
  font-size: 24px;
  font-weight: 600;
  color: #5e5e5e;
}

.detail {
  margin: auto 10%;
  font-size: 16px;
  font-weight: 600;
  color: #5e5e5e;
  text-align: left;
  white-space: pre-line;
}

@media (max-width: 768px) {
  .description {
    margin: auto;
  }
}

.skills {
  font-size: 20px;
  font-weight: 600;
  color: #5e5e5e;
}
