.period {
  font-size: 24px;
  font-weight: 600;
  color: #5e5e5e;
}

.detail {
  font-size: 16px;
  font-weight: 600;
  color: #5e5e5e;
  white-space: pre-line;
}

.skills {
  font-size: 20px;
  font-weight: 600;
  color: #5e5e5e;
}
