.table {
  margin: 0px auto;
  border-spacing: 0px 7px;
  display: flex;
  flex-wrap: wrap;
  gap: 5px 0;
  justify-content: center;
}

.biography {
  display: flex;
  justify-content: center;
  text-align: left;
  justify-content: flex-start;
  font-weight: 600;
  color: #5e5e5e;
}

.period {
  width: 170px;
  font-size: 14px;
  display: flex;
  align-items: center;
}

.name {
  width: 410px;
  font-size: 18px;
}

@media (max-width: 768px) {
  .table {
    margin: auto 15px;
    justify-content:left;
  gap: 10px 0;
  }

  .biography {
    flex-flow: column;
  }

  .name {
    width: auto;
  }
}

.link {
  text-decoration: none;
  color: #5e5e5e;
}

.link:hover {
  color: #bbbbbb;
}

.image {
  display: inline-block;
  vertical-align: middle;
  mask-image: url('/links/link.svg');
  mask-repeat: no-repeat;
  mask-position: center center;
  mask-size: contain;
  width: 20px;
  height:	20px;
  margin-left: 2px;
  background-color: #5e5e5e;
}

.link:hover .image {
  background-color: #bbbbbb;
}
