.table {
  margin: 0px auto;
  border-spacing: 0px 7px;
}

.period, .name {
  padding: 0px 5px;
  vertical-align: middle;
  text-align: left;
  font-weight: 600;
  color: #5e5e5e;
}

.period {
  width: 170px;
  font-size: 14px;
}

.name {
  width: 350px;
  font-size: 18px;
}

.link {
  text-decoration: none;
  color: #5e5e5e;
}

.link:hover {
  color: #bbbbbb;
}
