#profile {
  .prop {
    margin: 10px auto;
    width: min(100%, 880px);
  }
  
  .left, .right {
    margin: 20px;
    display: inline-block;
    vertical-align: middle;
  }

  .right {
    margin: auto 30px;
  }

  .name {
    margin: 0px 10px 15px 10px;
  }

  .main-name {
    font-size: 40px;
    font-weight: 600;
    color: #3d3d3d;
  }

  .sub-name {
    font-size: 15px;
    font-weight: 600;
    color: #3d3d3d;
    margin: auto 10px;
    display: inline-block;
    vertical-align: middle;
  }

  .description {
    margin: 10px;
  }

  .description p {
    margin: 0px auto;
    text-align: left;
    font-size: 15px;
    font-weight: 400;
    color: #5e5e5e;
  }
}
