.button {
  width: 210px;
  height: 50px;
  padding: 0px;
  border: none;
  border-radius: 15px;
  font-size: 20px;
  font-weight: 600;
  color: #ffffff;
  transition: transform .4s ease;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .button {
    width: 120px;
    height: 35px;
    border-radius: 10px;
    font-size: 12px;
  }
}
