.image {
  border: solid 1px #bbbbbb;
}

.description {
  margin: auto 10%;
  font-size: 16px;
  font-weight: 600;
  color: #5e5e5e;
  text-align: left;
  white-space: pre-line;
}

@media (max-width: 768px) {
  .description {
    margin: auto 3%;
  }
}

.skills {
  font-size: 20px;
  font-weight: 600;
  color: #5e5e5e;
}

.link_button {
  display: inline-block;
}

.button {
  width: 210px;
  height: 60px;
  margin: 10px 20px;
  padding: 0px;
  border: none;
  border-radius: 15px;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  transition: transform .4s ease;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}
