.image {
  border: solid 1px #bbbbbb;
}

.description {
  margin: auto 10%;
  font-size: 16px;
  font-weight: 600;
  color: #5e5e5e;
  text-align: left;
  white-space: pre-line;
}

.skills {
  font-size: 20px;
  font-weight: 600;
  color: #5e5e5e;
}

.buttons {
  margin: 20px 50px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-evenly;
}

.button {
  width: 210px;
  height: 60px;
  padding: 0px;
  border: none;
  border-radius: 15px;
  font-size: 40px;
  font-weight: 600;
  color: #ffffff;
  transition: transform .4s ease;
}

.button:hover {
  cursor: pointer;
  transform: scale(1.1);
}

@media (max-width: 768px) {
  .description {
    margin: auto 3%;
  }

  .buttons {
    margin: 20px 0px;
  }

  .button {
    width: 120px;
    height: 40px;
    font-size: 20px;
  }
}
