#work-info {
  .image {
    border: solid 1px #bbbbbb;
  }

  .subtitle {
    margin: 15px auto;
    font-size: 30px;
    color: #3d3d3d;
    border-bottom: 2px solid #bbbbbb;
  }

  .description {
    margin: 50px auto;
    width: min(80%, 600px);
    white-space: pre-wrap;
  }

  .sentence {
    font-size: 16px;
    font-weight: 600;
    color: #5e5e5e;
  }

  .skill {
    margin: 50px auto;
    width: min(80%, 600px);
  }

  .skills {
    font-size: 20px;
    font-weight: 600;
    color: #5e5e5e;
  }

  .link-buttons div {
    display: inline-block;
    width: auto;
    height: auto;
  }

  .link {
    width: auto;
    height: auto;
    text-decoration: none;
  }

  .link-buttons {
    margin: 40px auto;
  }

  .button {
    width: 210px;
    height: 60px;
    margin: 10px 20px;
    padding: 0px;
    border: none;
    border-radius: 15px;
    font-size: 40px;
    font-weight: 600;
    color: #ffffff;
    transition: transform .4s ease;
  }

  .button:hover {
    cursor: pointer;
    transform: scale(1.1);
  }
}

#work {
  .area {
    width: 90%;
    margin: 20px auto;
  }

  .works {
    display: flex;
    overflow-x: scroll;
  }
}
