.card:first-child {
  margin-top: 130px;
}

.card {
  margin: 90px auto;
  padding: 10px;
  width: min(75%, 900px);
  text-align: center;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
  scroll-margin-top: 90px;
}

.title {
  margin: 25px 60px;
  font-size: 50px;
  color: #3d3d3d;
}

.content {
  margin: 10px 50px;
}

@media (max-width: 768px) {
  .title {
    margin: 25px 0px;
    font-size: 40px;
  }

  .content {
    margin: 10px auto;
  }
}
