.card:first-child {
  margin-top: 135px;
}

.card {
  margin: 90px auto;
  padding: 10px;
  width: min(75%, 900px);
  text-align: center;
  background-color: #ffffff;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.5);
}

.title {
  font-size: 50px;
  color: #3d3d3d;
}

.content {
  margin: 10px auto;
  width: min(100%, 800px);
}
