.header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 3px solid #5e5e5e;
  position: fixed;

  .header-left, .header-right {
    display: inline-block;
    vertical-align: middle;
  }

  .header-left {
    background-color: #5e5e5e;
  }

  .header-right{
    width: 100% - 350px;
    margin-left: auto;
    margin-right: auto;
  }

  .top-link {
    text-decoration: none;
  }

  .site-title {
    width: 350px;
    height: 65px;
    font-size: 35px;
    font-weight: 600;
    color: #ffffff;
    text-align: center;
    display: table-cell;
    vertical-align: middle;
  }

  .menu {
    margin: auto 25px;
    display: inline-block;
    vertical-align: middle;
  }

  .menu-link {
    text-decoration: none;
  }

  .menu-name {
    font-size: 20px;
    font-weight: 600;
    color: #3d3d3d;
    text-align: center;
  }

  .menu-name:hover {
    color: #bbbbbb;
  }
}
