.header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 3px solid #5e5e5e;
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
}

.header > :last-child {
  margin-left: auto;
  margin-right: 15px;
}

.link {
  text-decoration: none;
}

.title {
  background-color: #5e5e5e;
  height: 50px;
  display: flex;
  align-items: center;
}

.title:hover .name {
  color: #bbbbbb;
}

.name {
  margin: 0 20px;
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
}

.menus {
  margin: 0 30px;
  display: flex;
  gap: 0 25px;
}

@media (max-width: 768px) {
  .menus {
    display: none;
  }
}
