.header {
  width: 100%;
  top: 0;
  left: 0;
  background-color: #ffffff;
  border-bottom: 3px solid #5e5e5e;
  position: fixed;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  z-index: 10;
}

.list {
  display: flex;
  align-items: center;
}

.selector {
  margin-left: auto;
  margin-right: 40px;
}

.link {
  text-decoration: none;
}

.title {
  width: 250px;
  height: 60px;
  background-color: #5e5e5e;
  display: table;
}

.title:hover .name {
  color: #bbbbbb;
}

.name {
  font-size: 25px;
  font-weight: 600;
  color: #ffffff;
  text-align: center;
  display: table-cell;
  vertical-align: middle;
}

.menus {
  margin: auto 15px;
}

@media (max-width: 768px) {
  .menus {
    display: none;
  }
}
