.container {
  width: 90px;
  display: inline-block;
}

.selector {
  border: none;
  appearance: none;
  outline: none;
}

.selector:hover {
  cursor: pointer;
}

.options {
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
  z-index: 1;
}

.option {
  margin: 0px 5px;
}

.option:hover {
  cursor: pointer;
}

.country {
  display: inline-block;
  border: solid 1px #bbbbbb;
  border-radius: 50%;
}

.language {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #3d3d3d;
}

.selector:hover .language, .option:hover .language {
  color: #bbbbbb;
}
