.container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.selector {
  width: 95px;
  border: none;
  appearance: none;
  outline: none;
}

.selector:hover {
  cursor: pointer;
}

.options {
  width: 110px;
  top: 80%;
  position: absolute;
  background-color: #ffffff;
  border: 1px solid #bbbbbb;
  z-index: 1;
}

.option {
  margin: 0px 6.8px;
}

.option:hover {
  cursor: pointer;
}

.country {
  display: inline-block;
  border: solid 1px #bbbbbb;
}

.language {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #3d3d3d;
}

.selector:hover .language, .option:hover .language {
  color: #bbbbbb;
}
