.table {
  margin: 5px auto;
}

.skill {
  display: flex;
  justify-content: center;
}

.name {
  width: 200px;
  vertical-align: top;
  text-align: left;
  font-size: 18px;
  font-weight: 600;
  color: #5e5e5e;
}

.exp {
  width: 55px;
  vertical-align: middle;
  text-align: left;
  font-size: 14px;
  font-weight: 600;
  color: #5e5e5e;
}
