.skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5px;
}

.tag {
  border: solid 1.5px #bbbbbb;
  border-radius: 14px;
}

.skill {
  margin: 0px 6px;
  font-size:18px;
  font-weight: 600;
  color: #5e5e5e;
}
