.table {
  margin: 5px auto;
}

.table td {
  padding: 0px 5px;
  text-align: left;
}

.name {
  width: 200px;
  vertical-align: top;
  font-size: 18px;
  font-weight: 600;
  color: #5e5e5e;
}

.exp {
  width: 75px;
  vertical-align: middle;
  font-size: 14px;
  font-weight: 600;
  color: #5e5e5e;
}
