.name {
  margin: 0px auto 15px;
}

.profile {
  display:flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

.profile_about {
  margin: auto 20px;
  width: 350px;
}

.main_name {
  font-size: 35px;
  font-weight: 600;
  color: #3d3d3d;
}

.sub_name {
  font-size: 15px;
  font-weight: 600;
  color: #3d3d3d;
  margin: auto 7px;
  display: inline-block;
  vertical-align: middle;
}

.description {
  margin: 0px;
}

.description p {
  margin: 0px auto;
  text-align: left;
  font-size: 15px;
  font-weight: 400;
  color: #5e5e5e;
}

.social_media {
  margin: 15px 30px;
  display:flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 15px 30px;
}

@media (max-width: 768px) {
  .social_media {
    margin: 15px 45px;
  }
}
