.profile-title {
  font-size: 45px;
  color: #3d3d3d;
}

.profile-left, .profile-right {
  margin: 20px;
  display: inline-block;
  vertical-align: top;
}

.profile-image img {
  border-radius: 7%;
}

.profile-right {
  margin: 30px;
}

.profile-name {
  margin: 0px 10px 15px 10px;
  font-size: 35px;
  font-weight: 600;
  color: #3d3d3d;
}

.profile-description {
  margin: 10px;
}

.profile-description p {
  margin: 0px;
  text-align: left;
}

.profile-sns {
  margin: 10px;
}

.profile-sns * {
  margin: 8px;
}

.sns-button.github:hover::before {
  content: '';
  display: block;
  width: 32px; /* 画像の幅に合わせます */
  height: 32px; /* 画像の高さに合わせます */
  position: absolute;
  background-color: red; /* ホバー時の背景色（赤色） */
  opacity: 0.7; /* 背景の透明度を設定（必要に応じて調整） */
  z-index: -1; /* 画像の下に配置します */
  border-radius: 50%; /* 丸い形状にします（画像の形状に合わせて調整） */
  transition: opacity 0.3s; /* アニメーションを追加（必要に応じて調整） */
}
