.works {
  margin: 10px 30px;
  display: grid;
  grid-template-columns: repeat(auto-fill, 182px);
  justify-content: space-evenly;
  gap: 40px;
}

.work {
  border-bottom: 1px solid #bbbbbb;
  transition: transform 0.2s ease;
}

.work:hover {
  transform: scale(1.05);
}

.imageWrapper {
  width: 180px;
  height: 180px;
  border: solid 1px #bbbbbb;
  position: relative;
}

.link {
  text-decoration: none;
}

.name {
  margin: auto;
  height: 50px;
  font-size: 17px;
  color: #3d3d3d;
}

.description {
  height: 37px;
  font-size: 10px;
  font-weight: 400;
  color: #5e5e5e;
}

@media (max-width: 768px) {
  .works {
    margin: 10px 20px;
    grid-template-columns: repeat(auto-fill, 102px);
    gap: 20px;
  }

  .imageWrapper {
    width: 100px;
    height: 100px;
  }

  .name {
    height: 35px;
    font-size: 11px;
  }

  .description {
    height: 30px;
    font-size: 7px;
  }
}
