.works {
  margin: 10px 30px;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 40px;
}

.work {
  flex: 0;
}

.scaleWrap {
  display: block;
  border-bottom: 1px solid #bbbbbb;
  transition: transform 0.2s ease;
}

.scaleWrap:hover {
  transform: scale(1.05);
}

.image {
  width: 180px;
  height: 180px;
  border: solid 1px #bbbbbb;
}

.link {
  text-decoration: none;
}

.name {
  margin: 0px;
  height: 50px;
  font-size: 17px;
  color: #3d3d3d;
}

.description {
  height: 37px;
  font-size: 10px;
  font-weight: 400;
  color: #5e5e5e;
}
