.license-title {
  font-size: 45px;
  color: #3d3d3d;
}

.license .prop {
  text-align: left;
  margin: 20px;
  border: 2px solid #aaaaaa;
  border-radius: 10px;
  width: min(80%, 670px);
  display: inline-block;
  font-size: 19px;
  font-weight: 400;
  color: #5e5e5e;
}

.license .table {
  margin: auto;
}

.license .table td {
  padding: 0px 5px;
}